@-webkit-keyframes scrol-anim {
  0% {top: 0px;}
  50% {top: 8px;}
  60% {top: 8px;}
  70% {top: 6px;}
  80% {top: 4px;}
  100% {top: 2px;}

}

.scroll-down-icon{

  -webkit-animation: scrol-anim 1s infinite;
  -moz-animation:    scrol-anim 1s infinite;
  -o-animation:      scrol-anim 1s infinite;
  animation:         scrol-anim 1s infinite;

}



/*Animation for share */
@-webkit-keyframes share-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes share-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes share-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
@keyframes share-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
/*Animation for learn */
@-webkit-keyframes learn-anim {
  0% {opacity: 0;}
  20% {opacity: 0;}
  35% {opacity: 1;}
  70% {opacity: 1;}
  100% {opacity: 0;}
}
@-moz-keyframes learn-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
@-o-keyframes learn-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
@keyframes learn-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
/*Animation for grow */
@-webkit-keyframes grow-anim {
  0% {opacity: 0;}
  40% {opacity: 0;}
  55% {opacity: 1;}
  70%{opacity: 1;}
  100%{opacity: 0}
}
@-moz-keyframes grow-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}}
@-o-keyframes grow-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}
@keyframes grow-anim {
  0% {opacity: 0;}
  15% {opacity: 1;}
  70%{ opacity: 1;}
  100% {opacity: 0;}
}

#share{
	-webkit-animation: share-anim 5s infinite;
  -moz-animation:    share-anim 5s infinite;
 	-o-animation:      share-anim 5s infinite;
  animation:         share-anim 5s infinite;
}

#learn{
	-webkit-animation: learn-anim 5s infinite;
  -moz-animation:    learn-anim 5s infinite;
 	-o-animation:      learn-anim 5s infinite;
  animation:         learn-anim 5s infinite;
}

#grow{
	-webkit-animation: grow-anim 5s infinite;
  -moz-animation:    grow-anim 5s infinite;
 	-o-animation:      grow-anim 5s infinite;
  animation:         grow-anim 5s infinite;
}
