@-webkit-keyframes scrol-anim {
  0% {top: 0px;}
  50% {top: 8px;}
  60% {top: 8px;}
  70% {top: 6px;}
  80% {top: 4px;}
  100% {top: 2px;}

}
@-moz-keyframes scrol-anim {
  0% {top: 0px;}
  50% {top: 8px;}
  60% {top: 8px;}
  70% {top: 6px;}
  80% {top: 4px;}
  100% {top: 2px;}

}
@-o-keyframes scrol-anim {
  0% {top: 0px;}
  50% {top: 8px;}
  60% {top: 8px;}
  70% {top: 6px;}
  80% {top: 4px;}
  100% {top: 2px;}

}
@keyframes scrol-anim {
  0% {top: 0px;}
  50% {top: 8px;}
  60% {top: 8px;}
  70% {top: 6px;}
  80% {top: 4px;}
  100% {top: 2px;}

}

.scroll-down-icon{

  -webkit-animation: scrol-anim 1s infinite;
  -moz-animation:    scrol-anim 1s infinite;
  -o-animation:      scrol-anim 1s infinite;
  animation:         scrol-anim 1s infinite;

}

@-webkit-keyframes carousel-quote{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

.quote-carousel{
  overflow:hidden;
  width:100%;
}
.quote {
  font-family: 'Dancing Script', cursive;
  font-size:250%;
  font-weight: 700;
  list-style:none;
  position:relative;
  width:500%; /* Number of panes * 100% */
  overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */        

  -moz-animation:carousel-quote 50s infinite;
  -webkit-animation:carousel-quote 50s infinite;
  animation:carousel-quote 50s infinite;
}

.quote > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}

.carousel span{
    display:block;
    width:100%;
    max-width:100%;
}