
.search-bar{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    position: absolute;
    top: 70px;
    padding: 0px;
}

.login-form{
   height: auto;
   width: 100%;
   border: solid;
   border-color: #CCCCCC;
   border-width: 1px;
   padding: 20px;
   margin-top: 150px;
   margin-left: 78%;
   margin-right: 70%;
   border-radius: 5%;
   background-color:rgba(204,204,204,0.4);  
   box-shadow: 15px 15px 40px 0px #000000;
}

.forgot-password{
   margin-left: 1%;
   margin-right: 1%;
   margin-top: 10px;
}

.logo{
    margin-left: -10px;
}

.img-content{
  position: absolute;
  margin-top: 160px;
  margin-left: 45%;
  background-color:rgba(204,204,204,0.6);
  border-radius: 25px;
  color: #ffffff;
  padding: 10px;
  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  background-color:rgba(204,204,204,0.4);  
  box-shadow: 15px 15px 40px 0px #000000;;
}

.scroll-down{
  position: absolute;
  margin-top: 550px;
  margin-right: 45%;
  margin-left: 45%;
  color: #ffffff;
}

.scroll-down-text{
  font-size: 25px;
}

.scroll-down-icon{
  font-size: 50px;
  float:left;
  clear:both;
  margin-left:45%;
  margin-right:45%;
  color: #5B9BD5;
}

.scroll-down-icon:hover{
  color: #92BFE8;
}

.postslide{
  height: 500px;
  background-repeat: repeat;
  background-color: #1D5AA3;
  border-top: 0.2px;
  border-bottom: 0.2px;
  border-top: solid;
  border-bottom: solid;
  border-color: #BFBFBF;
}
 

#post-slide-1{
background-image: url('../../img/smartpie_homepage/post_slide-1.jpg');
}
#post-slide-2{
background-image: url('../../img/smartpie_homepage/post_slide-2.jpg');
}
#post-slide-3{
background-image: url('../../img/smartpie_homepage/post_slide-3.jpg');
}
#post-slide-4{
background-image: url('../../img/smartpie_homepage/post_slide-4.jpg');
}

.smartpie-footer{
  height: 250px;
  padding: 20px;
  background-image: url('../../img/smartpie_homepage/gray_jean.png');
  background-repeat: repeat;
  background-color: #BFBFBF;
}

.quote{
  font-family: 'Dancing Script', cursive;
  font-size:250%;
  font-weight: 700;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  position: absolute;
  display: block;
}

.social-icons{
  position: absolute;
  display: block;
  margin-top: 120px;
  width: auto;
  margin-left: 38%;
  margin-right: 38%;
}

.social-icons img:hover {
  cursor: pointer;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

}

.get-started{
  font-family: 'Unkempt', cursive;
  font-size:165%;
  font-weight: 800;
  color: #FFFFFF;
  
}

.get-started:hover,
.get-started:focus {
  color: #FFFFFF;
  text-decoration: underline;
}

.inside-postslide{
   width: 100%;
   padding: 40px;
   padding-left: 2.5%;
   padding-right: 2.5%;

 }

.inside-postslide > div {
  float: left;
  width: 25%;
  font-color: white;
  
}

.inside-postslide > div > span{
  height: 150px;
  width: 150px;
  background-color: red;
  float: left;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 100%;
  margin-bottom: 15px;
}



.inside-postslide > div > center > h3 {
  color: #FFFFFF;
}