.nav-links{
  width: 100%;
  background-color:rgba(204,204,204,0.3);  
  height: 50px;
  margin-bottom: 30px;
  cursor: pointer;
  padding-right: 1%;
  padding-left: 1%;
}

.nav-links > a >img{
  float: left;
  margin-right: 0.2%;
}

.nav-links > div{
  width: 55%;
  float: left;
  margin-top: 7px;
}

.nav-links > a >span{
  float: right;
  margin-left: -1px;
  font-size: 15px;
  color: #ffffff;
  height: 50px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0.9%;
  padding-right: 0.9%;
  border: solid;
  border-width: 0px 0px 0px 0px ;
  border-color: #FFFFFF;
}

.nav-links > a > span:hover{
  border-width: 0px 0px 3px 0px ;
}



.login-form{
   height: auto;
   width: 100%;
   border: solid;
   border-color: #CCCCCC;
   border-width: 1px;
   padding: 20px;
   margin-top: 70px;
   margin-left: 78%;
   margin-right: 70%;
   border-radius: 5%;
   background-color:rgba(204,204,204,0.4);  
   box-shadow: 15px 15px 40px 0px #000000;
}

.forgot-password{
   margin-left: 1%;
   margin-right: 1%;
   margin-top: 10px;
}

.logo{
    margin-left: -10px;
}

.img-content{
  position: absolute;
  margin-top: 80px;
  margin-left: 45%;
  background-color:rgba(204,204,204,0.6);
  border-radius: 25px;
  color: #ffffff;
  padding: 10px;
  border: solid;
  border-color: #CCCCCC;
  border-width: 1px;
  background-color:rgba(204,204,204,0.4);  
  box-shadow: 15px 15px 40px 0px #000000;;
}

.scroll-down{
  position: absolute;
  margin-top: 490px;
  margin-right: 45%;
  margin-left: 45%;
  color: #ffffff;
}

.scroll-down-text{
  font-size: 25px;
}

.scroll-down-icon{
  font-size: 50px;
  float:left;
  clear:both;
  margin-left:45%;
  margin-right:45%;
  color: #ffffff;
}

.scroll-down-icon:hover{
  color: #92BFE8;
}

.postslide{
  height: 500px;
  background-repeat: repeat;
  background-color: #1D5AA3;
  border-top: 0.2px;
  border-bottom: 0.2px;
  border-top: solid;
  border-bottom: solid;
  border-color: #000000;
  border-width: 1px;
}
 

#post-slide-1{
background-color: #1E5AA3;
background: rgb(96,126,158); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(96,126,158,1) 0%, rgba(30,90,163,1) 85%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,126,158,1)), color-stop(85%,rgba(30,90,163,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,126,158,1) 0%,rgba(30,90,163,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(96,126,158,1) 0%,rgba(30,90,163,1) 85%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(96,126,158,1) 0%,rgba(30,90,163,1) 85%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(96,126,158,1) 0%,rgba(30,90,163,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#607e9e', endColorstr='#1e5aa3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#post-slide-2{
background-color: #784225;
background: rgb(137,99,85); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(137,99,85,1) 0%, rgba(191,110,78,1) 0%, rgba(92,32,0,1) 83%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(137,99,85,1)), color-stop(0%,rgba(191,110,78,1)), color-stop(83%,rgba(92,32,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(137,99,85,1) 0%,rgba(191,110,78,1) 0%,rgba(92,32,0,1) 83%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(137,99,85,1) 0%,rgba(191,110,78,1) 0%,rgba(92,32,0,1) 83%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(137,99,85,1) 0%,rgba(191,110,78,1) 0%,rgba(92,32,0,1) 83%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(137,99,85,1) 0%,rgba(191,110,78,1) 0%,rgba(92,32,0,1) 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#896355', endColorstr='#5c2000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#post-slide-3{
background-color: #E6A73E;
background: rgb(226,198,152); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(226,198,152,1) 0%, rgba(230,167,62,1) 83%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(226,198,152,1)), color-stop(83%,rgba(230,167,62,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(226,198,152,1) 0%,rgba(230,167,62,1) 83%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(226,198,152,1) 0%,rgba(230,167,62,1) 83%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(226,198,152,1) 0%,rgba(230,167,62,1) 83%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(226,198,152,1) 0%,rgba(230,167,62,1) 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2c698', endColorstr='#e6a73e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#post-slide-4{
background-color: #006B3D;
background: rgb(90,102,97); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(90,102,97,1) 0%, rgba(0,107,61,1) 85%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(90,102,97,1)), color-stop(85%,rgba(0,107,61,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(90,102,97,1) 0%,rgba(0,107,61,1) 85%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(90,102,97,1) 0%,rgba(0,107,61,1) 85%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(90,102,97,1) 0%,rgba(0,107,61,1) 85%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(90,102,97,1) 0%,rgba(0,107,61,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a6661', endColorstr='#006b3d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.smartpie-footer{
  height: auto;
  padding-top: 20px;
  background-repeat: repeat;
}



.social-icons{
  position: absolute;
  display: block;
  width: auto;
  margin-left: 38%;
  margin-right: 38%;
}

.social-icons img:hover {
  cursor: pointer;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

}

.inside-postslide{
   width: 100%;
   padding: 40px;
   padding-left: 2.5%;
   padding-right: 2.5%;

 }

.inside-postslide > div {
  float: left;
  width: 25%;
  font-color: white;
  
}

.inside-postslide > div > span{
  height: 170px;
  width: 170px;
  float: left;
  margin-right: 25%;
  margin-left: 25%;
  border-radius: 100%;
  margin-bottom: 15px;
}



.inside-postslide > div > center > h3 {
  color: #CFCFCF
}

.inside-postslide > div > center > h2 {
  color: #CFCFCF
}

.inside-postslide > div > center > button {
  margin: 10px;
}
.page-links{
  margin-top: 80px;
}

.page-links > center > a{
  margin-left: 1%;
  margin-right: 1%;
  font-size: 18px;
  color: #6B6B6B;
}
.page-links > center > p{
  margin-left: 1%;
  margin-right: 1%;
  font-size: 16px;
  color: #6B6B6B;
}

.modal-body{
}

.modal-body > p {
  font-size: 20px;
  
}

.modal-body > img {
  margin-left: -18px;
  margin-bottom: -40px;
}

#w2b-StoTop {
  background-color: #A5A5A5;
  bottom: 10px;
  -webkit-border-radius:  8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  font-family: century;
  letter-spacing:1px;
  font-size:14px;
  padding: 10px;
  position: fixed;
  right: 0px;
  text-align: Left;
  text-decoration: none;
  width: 70px;
  z-index: 6000;
}