.top-nav{
	padding-right: 80px;
	padding-left: 30px;
	padding-top: 10px;


}

.top-nav > img{
	position: absolute;
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
}

.top-nav > a > span{
	float: right;
	margin-right: 20px;
	margin-top: 35px;
	width: auto;
	height: 30px;
	background-color: blue;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 23px; 
	cursor: pointer;
	border-radius: 5px;
}